apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: install-spark
timeout: 180
---
apiVersion: spark.stackable.tech/v1alpha1
kind: SparkCluster
metadata:
  name: spark
spec:
  version: {{ test_scenario['values']['spark'] }}
  masters:
    roleGroups:
      default:
        selector:
          matchLabels:
            kubernetes.io/os: linux
        replicas: 1
  workers:
    roleGroups:
      2core2g:
        selector:
          matchLabels:
            kubernetes.io/os: linux
        replicas: 1
        config:
          cores: 2
          memory: "2g"
  historyServers:
    roleGroups:
      default:
        selector:
          matchLabels:
            kubernetes.io/os: linux
        replicas: 1